@model IEnumerable<NavEcommerce.Models.Motorcycle>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <div id="creatNew"> 
        <a asp-action="Create">Create New</a>
    </div>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MotorcycleId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand.BrandId)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MotorcycleId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand.BrandId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MotorcycleId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MotorcycleId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MotorcycleId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

