@model NavEcommerce.Models.Motorcycle

@{
    ViewData["Title"] = "SearchById";
}

<h1>Search By Id</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Brand.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="MotorcycleId">Edit</a> |
                <a asp-action="Details" asp-route-id="MotorcycleId">Details</a> |
                <a asp-action="Delete" asp-route-id="MotorcycleId">Delete</a>
            </td>
        </tr>
    </tbody>
</table>
